footer {
    padding: 10px 0;
    background-color: #bbb;
    text-align: center;
    font-size: 18px;
}

footer span {
    font-style: italic;
}

@media (max-width: 767px) {
    footer {
        font-size: 14px;
    }
}

@media (max-width: 359px) {
    footer {
        font-size: 12px;
    }
}